In [1]:
sc

In [2]:
spark

#### 1. Creating a new spark session Instance

In [3]:
sc.stop()

In [4]:
from pyspark import SparkConf, SparkContext
#setMaster()- Set Spark Content Manager
config= SparkConf().setMaster("local[2]").setAppName("RDDSession")
sc= SparkContext(conf=config)

In [5]:
sc

In [6]:
from pyspark.sql import SparkSession
spark= SparkSession.builder.appName("SQlSession").getOrCreate()

In [7]:
spark

In [8]:
!hdfs dfs -mkdir /flights

In [9]:
!hdfs dfs -ls /

Found 4 items
drwxr-xr-x   - hadoop supergroup          0 2024-09-02 09:18 /flights
drwxr-xr-x   - hadoop supergroup          0 2022-11-21 15:25 /hbase
drwxrwxrwx   - hadoop supergroup          0 2022-11-21 15:12 /tmp
drwxr-xr-x   - hadoop supergroup          0 2022-11-21 15:11 /user

In [10]:
!hdfs dfs -put /home/hadoop/Downloads/raw_flight_data.csv /flights

In [11]:
flights_df=spark.read.csv("hdfs://localhost:9000/flights/raw_flight_data.csv",header=True) #th e hdfs://localhost:9000 is understood hence can be removed

In [12]:
flights_df.head(5)

[Row(DayofMonth='19', DayOfWeek='5', Carrier='DL', OriginAirportID='11433', DestAirportID='13303', DepDelay='-3', ArrDelay='1'),
 Row(DayofMonth='19', DayOfWeek='5', Carrier='DL', OriginAirportID='14869', DestAirportID='12478', DepDelay='0', ArrDelay='-8'),
 Row(DayofMonth='19', DayOfWeek='5', Carrier='DL', OriginAirportID='14057', DestAirportID='14869', DepDelay='-4', ArrDelay='-15'),
 Row(DayofMonth='19', DayOfWeek='5', Carrier='DL', OriginAirportID='15016', DestAirportID='11433', DepDelay='28', ArrDelay='24'),
 Row(DayofMonth='19', DayOfWeek='5', Carrier='DL', OriginAirportID='11193', DestAirportID='12892', DepDelay='-6', ArrDelay='-11')]

In [13]:
flights_df.show()  # Show data in a tabular format

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|        19|        5|     DL|          11433|        13303|      -3|       1|
|        19|        5|     DL|          14869|        12478|       0|      -8|
|        19|        5|     DL|          14057|        14869|      -4|     -15|
|        19|        5|     DL|          15016|        11433|      28|      24|
|        19|        5|     DL|          11193|        12892|      -6|     -11|
|        19|        5|     DL|          10397|        15016|      -1|     -19|
|        19|        5|     DL|          15016|        10397|       0|      -1|
|        19|        5|     DL|          10397|        14869|      15|      24|
|        19|        5|     DL|          10397|        10423|      33|      34|
|        19|        5|     DL|          11278|        10397|     323|     322|
|        19|        5|     DL|          14107|        13487|      -7|     -13|
|        19|        5|     DL|          11433|        11298|      22|      41|
|        19|        5|     DL|          11298|        11433|      40|      20|
|        19|        5|     DL|          11433|        12892|      -2|      -7|
|        19|        5|     DL|          10397|        12451|      71|      75|
|        19|        5|     DL|          12451|        10397|      75|      57|
|        19|        5|     DL|          12953|        10397|      -1|      10|
|        19|        5|     DL|          11433|        12953|      -3|     -10|
|        19|        5|     DL|          10397|        14771|      31|      38|
|        19|        5|     DL|          13204|        10397|       8|      25|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 20 rows

select 
    
    * To select specific column from DataFrame

In [14]:
flights_df.select(['DayofMonth','Carrier','OriginAirportID','DepDelay']).show()

+----------+-------+---------------+--------+
|DayofMonth|Carrier|OriginAirportID|DepDelay|
+----------+-------+---------------+--------+
|        19|     DL|          11433|      -3|
|        19|     DL|          14869|       0|
|        19|     DL|          14057|      -4|
|        19|     DL|          15016|      28|
|        19|     DL|          11193|      -6|
|        19|     DL|          10397|      -1|
|        19|     DL|          15016|       0|
|        19|     DL|          10397|      15|
|        19|     DL|          10397|      33|
|        19|     DL|          11278|     323|
|        19|     DL|          14107|      -7|
|        19|     DL|          11433|      22|
|        19|     DL|          11298|      40|
|        19|     DL|          11433|      -2|
|        19|     DL|          10397|      71|
|        19|     DL|          12451|      75|
|        19|     DL|          12953|      -1|
|        19|     DL|          11433|      -3|
|        19|     DL|          10397|      31|
|        19|     DL|          13204|       8|
+----------+-------+---------------+--------+
only showing top 20 rows

In [15]:
flights_df.select(['Carrier']).distinct().show()

+-------+
|Carrier|
+-------+
|     UA|
|     AA|
|     EV|
|     B6|
|     DL|
|     OO|
|     F9|
|     YV|
|     US|
|     MQ|
|     HA|
|     AS|
|     FL|
|     VX|
|     WN|
|     9E|
+-------+

Columns 

    * Show list of all DataFrame columns

In [16]:
flights_df.columns

['DayofMonth',
 'DayOfWeek',
 'Carrier',
 'OriginAirportID',
 'DestAirportID',
 'DepDelay',
 'ArrDelay']

### 4. count()  - Aggreggate method to show count of dataframe/count of values

In [17]:
#To show total number of rows
flights_df.count()

2719418

In [18]:
# Show total count of Distinct Carrier
flights_df.select(['Carrier']).distinct().count()

16

### 3. printSchema()
    
    * Method prints schema name and schema datatypes

In [19]:
flights_df.printSchema()

root
 |-- DayofMonth: string (nullable = true)
 |-- DayOfWeek: string (nullable = true)
 |-- Carrier: string (nullable = true)
 |-- OriginAirportID: string (nullable = true)
 |-- DestAirportID: string (nullable = true)
 |-- DepDelay: string (nullable = true)
 |-- ArrDelay: string (nullable = true)

4. where

    * It is like filter method of RDD with boolean conditions and statements

In [20]:
flights_df.where(flights_df.DepDelay>0).first()

Row(DayofMonth='19', DayOfWeek='5', Carrier='DL', OriginAirportID='15016', DestAirportID='11433', DepDelay='28', ArrDelay='24')

In [21]:
flights_df.where(flights_df.DepDelay>0).show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|        19|        5|     DL|          15016|        11433|      28|      24|
|        19|        5|     DL|          10397|        14869|      15|      24|
|        19|        5|     DL|          10397|        10423|      33|      34|
|        19|        5|     DL|          11278|        10397|     323|     322|
|        19|        5|     DL|          11433|        11298|      22|      41|
|        19|        5|     DL|          11298|        11433|      40|      20|
|        19|        5|     DL|          10397|        12451|      71|      75|
|        19|        5|     DL|          12451|        10397|      75|      57|
|        19|        5|     DL|          10397|        14771|      31|      38|
|        19|        5|     DL|          13204|        10397|       8|      25|
|        19|        5|     DL|          12889|        13487|       7|      16|
|        19|        5|     DL|          14027|        10397|      13|      25|
|        19|        5|     DL|          13244|        10397|       4|      13|
|        19|        5|     DL|          12953|        11697|      12|      -8|
|        19|        5|     DL|          10397|        12892|      15|       7|
|        19|        5|     DL|          14747|        14869|      15|      18|
|        19|        5|     DL|          10423|        10397|      56|      49|
|        20|        6|     DL|          12892|        15304|      21|      -2|
|        20|        6|     DL|          10397|        11193|      16|      -2|
|        20|        6|     DL|          10397|        11278|       2|       1|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 20 rows

In [22]:
flights_df.where((flights_df.DepDelay>0) & (flights_df.ArrDelay>0)).show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|        19|        5|     DL|          15016|        11433|      28|      24|
|        19|        5|     DL|          10397|        14869|      15|      24|
|        19|        5|     DL|          10397|        10423|      33|      34|
|        19|        5|     DL|          11278|        10397|     323|     322|
|        19|        5|     DL|          11433|        11298|      22|      41|
|        19|        5|     DL|          11298|        11433|      40|      20|
|        19|        5|     DL|          10397|        12451|      71|      75|
|        19|        5|     DL|          12451|        10397|      75|      57|
|        19|        5|     DL|          10397|        14771|      31|      38|
|        19|        5|     DL|          13204|        10397|       8|      25|
|        19|        5|     DL|          12889|        13487|       7|      16|
|        19|        5|     DL|          14027|        10397|      13|      25|
|        19|        5|     DL|          13244|        10397|       4|      13|
|        19|        5|     DL|          10397|        12892|      15|       7|
|        19|        5|     DL|          14747|        14869|      15|      18|
|        19|        5|     DL|          10423|        10397|      56|      49|
|        20|        6|     DL|          10397|        11278|       2|       1|
|        20|        6|     DL|          11278|        10397|      34|      38|
|        20|        6|     DL|          11697|        12953|      20|       1|
|        20|        6|     DL|          13487|        13198|      35|      26|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 20 rows

### 7.Filter()
Similar to where() which filter the DataFrame output using condition statement

In [23]:
flights_df.filter((flights_df.DepDelay>0) & (flights_df.ArrDelay>0)).show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|        19|        5|     DL|          15016|        11433|      28|      24|
|        19|        5|     DL|          10397|        14869|      15|      24|
|        19|        5|     DL|          10397|        10423|      33|      34|
|        19|        5|     DL|          11278|        10397|     323|     322|
|        19|        5|     DL|          11433|        11298|      22|      41|
|        19|        5|     DL|          11298|        11433|      40|      20|
|        19|        5|     DL|          10397|        12451|      71|      75|
|        19|        5|     DL|          12451|        10397|      75|      57|
|        19|        5|     DL|          10397|        14771|      31|      38|
|        19|        5|     DL|          13204|        10397|       8|      25|
|        19|        5|     DL|          12889|        13487|       7|      16|
|        19|        5|     DL|          14027|        10397|      13|      25|
|        19|        5|     DL|          13244|        10397|       4|      13|
|        19|        5|     DL|          10397|        12892|      15|       7|
|        19|        5|     DL|          14747|        14869|      15|      18|
|        19|        5|     DL|          10423|        10397|      56|      49|
|        20|        6|     DL|          10397|        11278|       2|       1|
|        20|        6|     DL|          11278|        10397|      34|      38|
|        20|        6|     DL|          11697|        12953|      20|       1|
|        20|        6|     DL|          13487|        13198|      35|      26|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 20 rows

### 8. isin()
    
    * Filter values from DataFrame by matching Pattern

In [24]:
flights_df.where(flights_df.Carrier.isin('DL','F9','UA','9E')).show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|        19|        5|     DL|          11433|        13303|      -3|       1|
|        19|        5|     DL|          14869|        12478|       0|      -8|
|        19|        5|     DL|          14057|        14869|      -4|     -15|
|        19|        5|     DL|          15016|        11433|      28|      24|
|        19|        5|     DL|          11193|        12892|      -6|     -11|
|        19|        5|     DL|          10397|        15016|      -1|     -19|
|        19|        5|     DL|          15016|        10397|       0|      -1|
|        19|        5|     DL|          10397|        14869|      15|      24|
|        19|        5|     DL|          10397|        10423|      33|      34|
|        19|        5|     DL|          11278|        10397|     323|     322|
|        19|        5|     DL|          14107|        13487|      -7|     -13|
|        19|        5|     DL|          11433|        11298|      22|      41|
|        19|        5|     DL|          11298|        11433|      40|      20|
|        19|        5|     DL|          11433|        12892|      -2|      -7|
|        19|        5|     DL|          10397|        12451|      71|      75|
|        19|        5|     DL|          12451|        10397|      75|      57|
|        19|        5|     DL|          12953|        10397|      -1|      10|
|        19|        5|     DL|          11433|        12953|      -3|     -10|
|        19|        5|     DL|          10397|        14771|      31|      38|
|        19|        5|     DL|          13204|        10397|       8|      25|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 20 rows

#### Read airports.csv file as Spark DataFrame

In [26]:
airports_df=spark.read.csv("file:///home/hadoop/Downloads/airports.csv",header=True)

In [27]:
airports_df.show()

+----------+-----------+-----+--------------------+
|airport_id|       city|state|                name|
+----------+-----------+-----+--------------------+
|     10165|Adak Island|   AK|                Adak|
|     10299|  Anchorage|   AK|Ted Stevens Ancho...|
|     10304|      Aniak|   AK|       Aniak Airport|
|     10754|     Barrow|   AK|Wiley Post/Will R...|
|     10551|     Bethel|   AK|      Bethel Airport|
|     10926|    Cordova|   AK|Merle K Mudhole S...|
|     14709|  Deadhorse|   AK|   Deadhorse Airport|
|     11336| Dillingham|   AK|  Dillingham Airport|
|     11630|  Fairbanks|   AK|Fairbanks Interna...|
|     11997|   Gustavus|   AK|    Gustavus Airport|
|     12523|     Juneau|   AK|Juneau International|
|     12819|  Ketchikan|   AK|Ketchikan Interna...|
|     10245|King Salmon|   AK| King Salmon Airport|
|     10170|     Kodiak|   AK|      Kodiak Airport|
|     13970|   Kotzebue|   AK| Ralph Wien Memorial|
|     13873|       Nome|   AK|        Nome Airport|
|     14256| Petersburg|   AK|Petersburg James ...|
|     14828|      Sitka|   AK|Sitka Rocky Gutie...|
|     12807| St. Mary's|   AK|  St. Mary's Airport|
|     11445|   Unalaska|   AK|    Unalaska Airport|
+----------+-----------+-----+--------------------+
only showing top 20 rows

### 9. Join()

    * To Join two or more than two dataframes using condition

In [28]:
flights_airport_df=flights_df.join(airports_df,flights_df.OriginAirportID==airports_df.airport_id)
flights_airport_df.show()

+----------+---------+-------+---------------+-------------+--------+--------+----------+-----------------+-----+--------------------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|airport_id|             city|state|                name|
+----------+---------+-------+---------------+-------------+--------+--------+----------+-----------------+-----+--------------------+
|        19|        5|     DL|          11433|        13303|      -3|       1|     11433|          Detroit|   MI|Detroit Metro Way...|
|        19|        5|     DL|          14869|        12478|       0|      -8|     14869|   Salt Lake City|   UT|Salt Lake City In...|
|        19|        5|     DL|          14057|        14869|      -4|     -15|     14057|         Portland|   OR|Portland Internat...|
|        19|        5|     DL|          15016|        11433|      28|      24|     15016|        St. Louis|   MO|Lambert-St. Louis...|
|        19|        5|     DL|          11193|        12892|      -6|     -11|     11193|       Cincinnati|   OH|Cincinnati/Northe...|
|        19|        5|     DL|          10397|        15016|      -1|     -19|     10397|          Atlanta|   GA|Hartsfield-Jackso...|
|        19|        5|     DL|          15016|        10397|       0|      -1|     15016|        St. Louis|   MO|Lambert-St. Louis...|
|        19|        5|     DL|          10397|        14869|      15|      24|     10397|          Atlanta|   GA|Hartsfield-Jackso...|
|        19|        5|     DL|          10397|        10423|      33|      34|     10397|          Atlanta|   GA|Hartsfield-Jackso...|
|        19|        5|     DL|          11278|        10397|     323|     322|     11278|       Washington|   DC|Ronald Reagan Was...|
|        19|        5|     DL|          14107|        13487|      -7|     -13|     14107|          Phoenix|   AZ|Phoenix Sky Harbo...|
|        19|        5|     DL|          11433|        11298|      22|      41|     11433|          Detroit|   MI|Detroit Metro Way...|
|        19|        5|     DL|          11298|        11433|      40|      20|     11298|Dallas/Fort Worth|   TX|Dallas/Fort Worth...|
|        19|        5|     DL|          11433|        12892|      -2|      -7|     11433|          Detroit|   MI|Detroit Metro Way...|
|        19|        5|     DL|          10397|        12451|      71|      75|     10397|          Atlanta|   GA|Hartsfield-Jackso...|
|        19|        5|     DL|          12451|        10397|      75|      57|     12451|     Jacksonville|   FL|Jacksonville Inte...|
|        19|        5|     DL|          12953|        10397|      -1|      10|     12953|         New York|   NY|           LaGuardia|
|        19|        5|     DL|          11433|        12953|      -3|     -10|     11433|          Detroit|   MI|Detroit Metro Way...|
|        19|        5|     DL|          10397|        14771|      31|      38|     10397|          Atlanta|   GA|Hartsfield-Jackso...|
|        19|        5|     DL|          13204|        10397|       8|      25|     13204|          Orlando|   FL|Orlando Internati...|
+----------+---------+-------+---------------+-------------+--------+--------+----------+-----------------+-----+--------------------+
only showing top 20 rows

### 10. Drop Duplicates()

    * It will drop duplicate records from existing DataFrame

In [29]:
flights_df1=flights_df.dropDuplicates()

#### Calculate percentage Data Lost after DropDuplicates

In [30]:
c=flights_df1.count()

In [31]:
p=flights_df.count()

In [32]:
percent=(c-p)/p
percent*100.0

-0.8249927006440348

### 11.Describe
- Use Describe method to show summary statistics or numeric DataFrame columns
- Summary includes count(), stddev(), min(), max(), mean()

In [35]:
flights_df1.describe().show()

+-------+------------------+------------------+-------+------------------+------------------+------------------+------------------+
|summary|        DayofMonth|         DayOfWeek|Carrier|   OriginAirportID|     DestAirportID|          DepDelay|          ArrDelay|
+-------+------------------+------------------+-------+------------------+------------------+------------------+------------------+
|  count|           2696983|           2696983|2696983|           2696983|           2696983|           2674774|           2673185|
|   mean|15.798996508320593| 3.900369412784582|   null|12742.459424846207| 12742.85937657004|10.618575625454712|6.7272897311633875|
| stddev| 8.801267199135449|1.9864582421701977|   null|1502.0359941370614|1501.9939589817984| 36.19830843251268| 38.75007476808385|
|    min|                 1|                 1|     9E|             10140|             10140|                -1|                -1|
|    max|                 9|                 7|     YV|             15376|             15376|               996|               997|
+-------+------------------+------------------+-------+------------------+------------------+------------------+------------------+

### 12. Summary()
- Use Summary() method for detailed summary of columns
- Summary includes count(), stddev(), min(), max(), mean(), quartiles- Q1, Q2(median), Q3

In [36]:
flights_df1.summary().show()

+-------+------------------+------------------+-------+------------------+------------------+------------------+------------------+
|summary|        DayofMonth|         DayOfWeek|Carrier|   OriginAirportID|     DestAirportID|          DepDelay|          ArrDelay|
+-------+------------------+------------------+-------+------------------+------------------+------------------+------------------+
|  count|           2696983|           2696983|2696983|           2696983|           2696983|           2674774|           2673185|
|   mean|15.798996508320593| 3.900369412784582|   null|12742.459424846207| 12742.85937657004|10.618575625454712|6.7272897311633875|
| stddev| 8.801267199135449|1.9864582421701977|   null|1502.0359941370614|1501.9939589817984| 36.19830843251268| 38.75007476808385|
|    min|                 1|                 1|     9E|             10140|             10140|                -1|                -1|
|    25%|               8.0|               2.0|   null|           11292.0|           11292.0|              -4.0|             -11.0|
|    50%|              16.0|               4.0|   null|           12892.0|           12892.0|              -1.0|              -3.0|
|    75%|              23.0|               6.0|   null|           14057.0|           14057.0|              10.0|              10.0|
|    max|                 9|                 7|     YV|             15376|             15376|               996|               997|
+-------+------------------+------------------+-------+------------------+------------------+------------------+------------------+

### 13. Select Categorical Columns

In [37]:
from pyspark.sql.types import IntegerType, StringType
from pyspark.sql.functions import *

In [53]:
categorical_columns = [field.name for field in flights_df.schema.fields if isinstance(field.dataType, StringType)]

In [55]:
categorical_columns

['DayofMonth',
 'DayOfWeek',
 'Carrier',
 'OriginAirportID',
 'DestAirportID',
 'DepDelay',
 'ArrDelay']

### 14. col(), groupBy()
- In pyspark 'col' function is used to refer to a column in DataFrame.
- groupBy(): Method to group rows of DataFrame based on values of one or more columns

In [46]:
# In pyspark 'col' function is used to refer to a column in DataFrame.
# where to use it. In column operations
from pyspark.sql.functions import col

In [50]:
flights_df1.filter(col('ArrDelay') > 10).count()

664460

In [52]:
for column in categorical_columns:
    flights_df1.groupBy(column).count().show()

+----------+-----+
|DayofMonth|count|
+----------+-----+
|         7|87775|
|        15|89318|
|        11|88376|
|        29|89172|
|         3|90086|
|        30|90440|
|         8|88890|
|        22|89062|
|        28|87292|
|        16|91092|
|         5|86385|
|        31|47959|
|        18|88505|
|        27|85724|
|        17|89198|
|        26|86276|
|         6|87497|
|        19|88852|
|        23|90980|
|        25|88081|
+----------+-----+
only showing top 20 rows

+---------+------+
|DayOfWeek| count|
+---------+------+
|        7|371903|
|        3|401926|
|        5|395854|
|        6|318242|
|        1|407195|
|        4|405244|
|        2|396619|
+---------+------+

+-------+------+
|Carrier| count|
+-------+------+
|     UA|286010|
|     AA|288910|
|     EV|157218|
|     B6|121875|
|     DL|381601|
|     OO|159639|
|     F9| 35736|
|     YV| 52740|
|     US|232955|
|     MQ|112113|
|     HA| 17424|
|     AS| 68544|
|     FL| 92674|
|     VX| 34726|
|     WN|575090|
|     9E| 79728|
+-------+------+

+---------------+-----+
|OriginAirportID|count|
+---------------+-----+
|          13851|13899|
|          13244|18626|
|          13232|49700|
|          13204|58972|
|          14100|47386|
|          13342|20964|
|          10792|14773|
|          10423|26960|
|          11057|76383|
|          13931|10000|
|          11193|23882|
|          15376|10986|
|          12191|28901|
|          11697|34851|
|          13303|41911|
|          10299| 7700|
|          12266|73286|
|          14730|10906|
|          15016|33006|
|          14908|23541|
+---------------+-----+
only showing top 20 rows

+-------------+-----+
|DestAirportID|count|
+-------------+-----+
|        13851|13878|
|        13244|18627|
|        13232|49490|
|        13204|59035|
|        14100|47343|
|        13342|20967|
|        10792|14792|
|        10423|26988|
|        11057|76449|
|        13931|10028|
|        11193|23883|
|        15376|11006|
|        12191|28864|
|        11697|34809|
|        13303|42015|
|        10299| 7710|
|        12266|73414|
|        14730|10939|
|        14908|23558|
|        15016|33011|
+-------------+-----+
only showing top 20 rows

+--------+------+
|DepDelay| count|
+--------+------+
|      -4|190538|
|     296|    50|
|     467|     5|
|     675|     2|
|     125|   947|
|     451|     7|
|     -30|     5|
|     944|     2|
|     853|     3|
|     800|     3|
|     666|     2|
|     870|     1|
|    1265|     1|
|       7| 36831|
|      51|  4262|
|     124|   868|
|     591|     2|
|     447|     6|
|     307|    41|
|     475|     4|
+--------+------+
only showing top 20 rows

+--------+-----+
|ArrDelay|count|
+--------+-----+
|      -4|76644|
|     296|   49|
|     467|    7|
|     675|    2|
|     -86|    1|
|    1436|    1|
|     -30| 7300|
|     125|  917|
|     451|    4|
|    1394|    1|
|     800|    1|
|     944|    1|
|     666|    3|
|     919|    1|
|    1241|    1|
|       7|38912|
|      51| 4135|
|     124|  874|
|     447|    5|
|     307|   43|
+--------+-----+
only showing top 20 rows

### 15. isnull()
- Method returns boolean outcome for missing values

In [59]:
# Check for nulls in specific columns
flights_df1.filter(col('ArrDelay').isNull()).show(100)

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|        28|        7|     EV|          11042|        13198|    null|    null|
|        17|        3|     EV|          13851|        13930|    null|    null|
|         8|        1|     9E|          11298|        14869|    null|    null|
|        17|        3|     9E|          14492|        12339|    null|    null|
|        30|        2|     AA|          11278|        13303|    null|    null|
|        17|        3|     AA|          13487|        13303|    null|    null|
|        10|        3|     AA|          10721|        13930|    null|    null|
|        18|        4|     AA|          15016|        11298|    null|    null|
|        14|        7|     B6|          14027|        14843|    null|    null|
|         1|        1|     UA|          10821|        12266|    null|    null|
|        10|        3|     WN|          12953|        10693|    null|    null|
|        10|        3|     WN|          13851|        11259|    null|    null|
|        17|        3|     WN|          12892|        14831|    null|    null|
|        18|        4|     WN|          11066|        10821|    null|    null|
|        18|        4|     WN|          12191|        10140|    null|    null|
|        18|        4|     WN|          14869|        11292|    null|    null|
|         8|        1|     WN|          11259|        12191|    null|    null|
|        30|        2|     WN|          12892|        11292|    null|    null|
|         9|        2|     MQ|          11618|        13930|    null|    null|
|        11|        4|     MQ|          13930|        11433|    null|    null|
|        18|        4|     OO|          13487|        13871|    null|    null|
|        18|        4|     UA|          13930|        11042|    null|    null|
|        24|        5|     EV|          14492|        11618|    null|    null|
|        15|        3|     EV|          13244|        11298|      -9|    null|
|         3|        5|     EV|          10397|        12264|    null|    null|
|         1|        3|     EV|          11066|        12264|    null|    null|
|         9|        4|     EV|          12339|        13930|    null|    null|
|        30|        4|     AA|          12889|        13930|    null|    null|
|        22|        3|     US|          10721|        12953|    null|    null|
|         1|        3|     WN|          12889|        13891|    null|    null|
|         2|        4|     WN|          14570|        12889|    null|    null|
|         8|        3|     WN|          13342|        12953|    null|    null|
|        28|        2|     WN|          13232|        11433|    null|    null|
|        31|        5|     WN|          15016|        12191|    null|    null|
|         4|        6|     YV|          14730|        11057|    null|    null|
|        26|        7|     YV|          11057|        14492|    null|    null|
|        23|        4|     MQ|          11278|        12478|    null|    null|
|        15|        3|     OO|          12266|        11298|       2|    null|
|         2|        4|     US|          14057|        14107|    null|    null|
|         8|        3|     US|          11618|        11057|    null|    null|
|         8|        3|     US|          12953|        11278|    null|    null|
|         5|        7|     US|          14100|        11057|    null|    null|
|        12|        3|     MQ|          11066|        13930|    null|    null|
|        28|        5|     OO|          14771|        14869|    null|    null|
|        28|        5|     OO|          12892|        10140|    null|    null|
|        29|        6|     UA|          11292|        12264|    null|    null|
|        26|        3|     UA|          13930|        11618|    null|    null|
|        10|        1|     UA|          10821|        13930|    null|    null|
|         9|        7|     UA|          12264|        12892|    null|    null|
|        11|        2|     US|          11057|        10397|    null|    null|
|        13|        4|     US|          11057|        12953|    null|    null|
|        26|        3|     9E|          13930|        13487|    null|    null|
|        27|        4|     9E|          10529|        11433|    null|    null|
|        17|        1|     9E|          13342|        11433|    null|    null|
|        24|        1|     US|          10721|        11278|       4|    null|
|        13|        4|     WN|          10821|        14492|    null|    null|
|        12|        3|     WN|          14122|        13232|    null|    null|
|        21|        5|     WN|          13232|        14307|    null|    null|
|        26|        3|     WN|          13232|        12264|    null|    null|
|        13|        4|     WN|          13495|        12191|    null|    null|
|         9|        7|     YV|          11057|        12264|    null|    null|
|        28|        5|     WN|          12264|        13232|    null|    null|
|        11|        2|     YV|          13930|        11057|    null|    null|
|        28|        5|     DL|          11697|        12953|      30|    null|
|        17|        1|     EV|          14122|        12953|    null|    null|
|         2|        7|     EV|          11193|        13487|    null|    null|
|         4|        2|     FL|          13342|        11278|    null|    null|
|        17|        3|     DL|          13495|        12953|    null|    null|
|        12|        5|     EV|          11066|        12264|    null|    null|
|        11|        4|     MQ|          13851|        13930|    null|    null|
|         7|        7|     EV|          12953|        12264|    null|    null|
|        22|        1|     9E|          12478|        12451|    null|    null|
|         8|        1|     9E|          14100|        11193|    null|    null|
|         6|        6|     AA|          11298|        11278|    null|    null|
|         3|        3|     DL|          12953|        11697|    null|    null|
|        27|        6|     B6|          12478|        14027|    null|    null|
|        27|        6|     B6|          14027|        12478|    null|    null|
|         8|        1|     DL|          13495|        12953|    null|    null|
|         1|        1|     WN|          13232|        12953|    null|    null|
|         7|        7|     WN|          13232|        14771|    null|    null|
|        10|        3|     WN|          11292|        15016|    null|    null|
|        26|        5|     WN|          13891|        13796|    null|    null|
|        25|        4|     WN|          13796|        12892|    null|    null|
|        27|        6|     YV|          13244|        11057|    null|    null|
|        15|        1|     MQ|          11278|        14492|    null|    null|
|        30|        2|     MQ|          13851|        12892|    null|    null|
|        20|        6|     OO|          14107|        10800|    null|    null|
|        30|        2|     UA|          14771|        12889|    null|    null|
|         6|        6|     UA|          14771|        10821|    null|    null|
|         6|        6|     UA|          14771|        11042|    null|    null|
|         1|        4|     9E|          10792|        12478|    null|    null|
|        12|        1|     AA|          11298|        12266|    null|    null|
|         2|        5|     AA|          11042|        11298|    null|    null|
|        13|        2|     AA|          14492|        11298|    null|    null|
|        21|        3|     AS|          10299|        14747|    null|    null|
|        25|        7|     WN|          13796|        10800|    null|    null|
|        26|        1|     WN|          12892|        14771|    null|    null|
|         9|        5|     EV|          12953|        14122|    null|    null|
|        16|        5|     EV|          13244|        12953|    null|    null|
|        11|        7|     FL|          14122|        13204|    null|    null|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 100 rows

In [60]:
# Show num of missing values for one column
flights_df1.filter(col('ArrDelay').isNull()).count()

23798

In [61]:
#isNull will return the boolean value
flights_df1.select(col('ArrDelay').isNull())

DataFrame[(ArrDelay IS NULL): boolean]

In [65]:
flights_df1.select([count(when(isnull(column), column )).alias(column) for column in flights_df1.columns]).show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|         0|        0|      0|              0|            0|   22209|   23798|
+----------+---------+-------+---------------+-------------+--------+--------+

### Create the same using col

In [95]:
flights_df1.select([col(column).isNull().alias(column) for column in flights_df1.columns]).show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|     false|    false|  false|          false|        false|   false|   false|
|     false|    false|  false|          false|        false|   false|   false|
|     false|    false|  false|          false|        false|   false|   false|
|     false|    false|  false|          false|        false|   false|   false|
|     false|    false|  false|          false|        false|   false|   false|
|     false|    false|  false|          false|        false|   false|   false|
|     false|    false|  false|          false|        false|   false|   false|
|     false|    false|  false|          false|        false|   false|   false|
|     false|    false|  false|          false|        false|   false|   false|
|     false|    false|  false|          false|        false|   false|   false|
|     false|    false|  false|          false|        false|   false|   false|
|     false|    false|  false|          false|        false|   false|   false|
|     false|    false|  false|          false|        false|   false|   false|
|     false|    false|  false|          false|        false|   false|   false|
|     false|    false|  false|          false|        false|   false|   false|
|     false|    false|  false|          false|        false|   false|   false|
|     false|    false|  false|          false|        false|   false|   false|
|     false|    false|  false|          false|        false|    true|    true|
|     false|    false|  false|          false|        false|   false|   false|
|     false|    false|  false|          false|        false|   false|   false|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 20 rows

In [118]:
{column : flights_df1.filter( col(column).isNull()).count() for column in flights_df1.columns}

{'DayofMonth': 0,
 'DayOfWeek': 0,
 'Carrier': 0,
 'OriginAirportID': 0,
 'DestAirportID': 0,
 'DepDelay': 22209,
 'ArrDelay': 23798}

In [119]:
flights_df1.select([sum(col(column).isNull().cast('int')).alias(column) for column in flights_df1.columns]).show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|         0|        0|      0|              0|            0|   22209|   23798|
+----------+---------+-------+---------------+-------------+--------+--------+

### 16. fillna()
- To replace or fill missing values of column with central tendancies(mean,median,mode)
- Here will replace missing values by 0s

In [120]:
flights_df2 = flights_df1.fillna({'DepDelay':0,'ArrDelay':0})

In [121]:
flights_df2.select([sum(col(column).isNull().cast('int')).alias(column) for column in flights_df2.columns]).show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|         0|        0|      0|              0|            0|       0|       0|
+----------+---------+-------+---------------+-------------+--------+--------+

### 17. dropna() 
- dropna method is used to remove rows with null values

In [122]:
flights_df3 = flights_df1.dropna()

### 18. Statistical Methods
- mean(), median(), stddev(), quartiles

In [126]:
flights_df1.select(round(mean(col('DepDelay'))).alias('mean')).show()

+----+
|mean|
+----+
|11.0|
+----+

In [127]:
flights_df1.select(round(stddev(col('DepDelay')),3).alias('Std')).show()

+------+
|   Std|
+------+
|36.198|
+------+

In [128]:
flights_df1.select(round(variance(col('DepDelay')),3).alias('variance')).show()

+--------+
|variance|
+--------+
|1310.318|
+--------+

In [ ]:
flights_df1.select(round(variance(col('DepDelay')),3).alias('variance')).show()

### To calculate median() - use approxQuantile(), exp()

In [161]:
flights_df3.approxQuantile('ArrDelay',[0.5],0.0001)
# flights_df1.withColumn("test", col("ArrDelay")).show()

TypeError: int() argument must be a string, a bytes-like object or a number, not 'Column'

In [141]:
flights_df1.select(round(mean(col('DepDelay'))).alias('DepDelay_Mean')).collect()[0][0]

11.0

### 19. GroupBy() and agg()

In [147]:
flights_df1.groupBy('Carrier').agg(mean('DepDelay').alias('Dep_Delay_Mean'),mean('ArrDelay').alias('Arr_Delay_Mean')).show()

+-------+------------------+--------------------+
|Carrier|    Dep_Delay_Mean|      Arr_Delay_Mean|
+-------+------------------+--------------------+
|     UA|12.644186783024843|   5.207155029152466|
|     AA|12.154096505870111|    7.22786703097812|
|     EV| 14.52813602113455|  10.501436641191532|
|     B6|12.675216069471794|   9.679335778153199|
|     DL| 7.451940716867138|  2.8085929091567747|
|     OO| 7.954327121364983|   6.447766785619039|
|     F9|12.142480802645592|  12.870312237233028|
|     YV| 9.595018289496604|   8.749505833107245|
|     US| 5.011879623272143|   3.957719324788726|
|     MQ|15.612577198673192|   14.27679662028746|
|     HA|1.5358414704192993|   1.534325271442523|
|     AS|0.6606730403765751|-0.27272328542814955|
|     FL|10.227206113831024|   7.277437501357486|
|     VX|14.416962353959326|   9.678802215555043|
|     WN|12.930658050935614|   8.368672739670938|
|     9E| 9.767838809034908|   4.931550031523011|
+-------+------------------+--------------------+

### 20. WithColumn
- All column operations - used to create a new column or modify an existing column in a DataFrame.
- withColumn is also used for applying transformation or calculation
- df.withColumn(colName, col)

In [148]:
flights_df1.withColumn("TotalDelay", col("DepDelay") + col("ArrDelay")).show()

+----------+---------+-------+---------------+-------------+--------+--------+----------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|TotalDelay|
+----------+---------+-------+---------------+-------------+--------+--------+----------+
|         1|        1|     WN|          10821|        10140|     138|     133|     271.0|
|        13|        1|     OO|          12266|        10140|       3|       5|       8.0|
|        15|        1|     YV|          14107|        10140|      -2|      -3|      -5.0|
|        15|        1|     WN|          14679|        10140|      11|       4|      15.0|
|        17|        1|     WN|          10821|        10140|      78|      87|     165.0|
|        22|        1|     WN|          12892|        10140|      15|       5|      20.0|
|        27|        1|     AA|          11298|        10140|      22|      32|      54.0|
|        11|        2|     WN|          12191|        10140|      11|      -2|       9.0|
|        14|        2|     OO|          14771|        10140|      -9|     -10|     -19.0|
|         2|        2|     WN|          11292|        10140|      26|       6|      32.0|
|         2|        2|     WN|          12191|        10140|       9|      14|      23.0|
|        25|        2|     WN|          12892|        10140|      -1|     -10|     -11.0|
|         7|        2|     WN|          12889|        10140|      -4|      -3|      -7.0|
|         9|        2|     WN|          12889|        10140|      78|      75|     153.0|
|        22|        3|     WN|          13796|        10140|       9|       1|      10.0|
|        13|        4|     WN|          12191|        10140|       7|       2|       9.0|
|        16|        4|     AA|          11298|        10140|      10|       5|      15.0|
|        18|        4|     WN|          12191|        10140|    null|    null|      null|
|        18|        4|     WN|          14107|        10140|      -2|      15|      13.0|
|        18|        4|     WN|          14747|        10140|       0|      -7|      -7.0|
+----------+---------+-------+---------------+-------------+--------+--------+----------+
only showing top 20 rows

In [151]:
flights_df1.withColumn("isDelay", when(col("DepDelay") > 0, "Delay").otherwise('No Delay')).show()

+----------+---------+-------+---------------+-------------+--------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay| isDelay|
+----------+---------+-------+---------------+-------------+--------+--------+--------+
|         1|        1|     WN|          10821|        10140|     138|     133|   Delay|
|        13|        1|     OO|          12266|        10140|       3|       5|   Delay|
|        15|        1|     YV|          14107|        10140|      -2|      -3|No Delay|
|        15|        1|     WN|          14679|        10140|      11|       4|   Delay|
|        17|        1|     WN|          10821|        10140|      78|      87|   Delay|
|        22|        1|     WN|          12892|        10140|      15|       5|   Delay|
|        27|        1|     AA|          11298|        10140|      22|      32|   Delay|
|        11|        2|     WN|          12191|        10140|      11|      -2|   Delay|
|        14|        2|     OO|          14771|        10140|      -9|     -10|No Delay|
|         2|        2|     WN|          11292|        10140|      26|       6|   Delay|
|         2|        2|     WN|          12191|        10140|       9|      14|   Delay|
|        25|        2|     WN|          12892|        10140|      -1|     -10|No Delay|
|         7|        2|     WN|          12889|        10140|      -4|      -3|No Delay|
|         9|        2|     WN|          12889|        10140|      78|      75|   Delay|
|        22|        3|     WN|          13796|        10140|       9|       1|   Delay|
|        13|        4|     WN|          12191|        10140|       7|       2|   Delay|
|        16|        4|     AA|          11298|        10140|      10|       5|   Delay|
|        18|        4|     WN|          12191|        10140|    null|    null|No Delay|
|        18|        4|     WN|          14107|        10140|      -2|      15|No Delay|
|        18|        4|     WN|          14747|        10140|       0|      -7|No Delay|
+----------+---------+-------+---------------+-------------+--------+--------+--------+
only showing top 20 rows

In [162]:
median_expr = expr(f"percentile_approx({'ArrDelay'},0.5)")
flights_df1.agg(median_expr.alias("median")).collect()

[Row(median=-3.0)]