#### 1. Pandas Basics

In [1]:
import pandas as pd

In [2]:
raw_data = pd.read_csv(r"C:\Users\Administrator\Downloads\Automobile_price_data__Raw_.csv")

In [3]:
raw_data.head() # first 5 data , default is 5, give parameter like head(2) will show the needed count

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [4]:
raw_data.tail() # last 5 data

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [5]:
raw_data.shape #shape returns tuples of size of rows and columns

(205, 26)

In [6]:
raw_data.columns #returns column names

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [7]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [8]:
raw_data.isnull() #isnull returns true  for missing data cell and False indicates no missing value

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
201,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
202,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
203,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
204,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [9]:
raw_data.notnull() #returns true for non-empty cell and False for missing values.

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
201,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
202,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
203,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
204,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

#### 2. Data Slicing
- loc() and iloc()

In [10]:
raw_data.loc[1:10] #loc - label based indexing: Using row and column name data will be sliced

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?
10,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430

In [11]:
#column slicing using loc(), 'make':'wheel-base'
raw_data.loc[:,'make':'wheel-base']

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6
2,alfa-romero,gas,std,two,hatchback,rwd,front,94.5
3,audi,gas,std,four,sedan,fwd,front,99.8
4,audi,gas,std,four,sedan,4wd,front,99.4
...,...,...,...,...,...,...,...,...
200,volvo,gas,std,four,sedan,rwd,front,109.1
201,volvo,gas,turbo,four,sedan,rwd,front,109.1
202,volvo,gas,std,four,sedan,rwd,front,109.1
203,volvo,diesel,turbo,four,sedan,rwd,front,109.1
204,volvo,gas,turbo,four,sedan,rwd,front,109.1

In [12]:
raw_data.loc[1:10,'make':'wheel-base']

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6
2,alfa-romero,gas,std,two,hatchback,rwd,front,94.5
3,audi,gas,std,four,sedan,fwd,front,99.8
4,audi,gas,std,four,sedan,4wd,front,99.4
5,audi,gas,std,two,sedan,fwd,front,99.8
6,audi,gas,std,four,sedan,fwd,front,105.8
7,audi,gas,std,four,wagon,fwd,front,105.8
8,audi,gas,turbo,four,sedan,fwd,front,105.8
9,audi,gas,turbo,two,hatchback,4wd,front,99.5
10,bmw,gas,std,two,sedan,rwd,front,101.2

``` raw_data.loc[:,:]  ``` 
all rows and columns

In [13]:
raw_data.loc[[1,3,5,7],['make','aspiration','drive-wheels', 'wheel-base']] #non sequence

          make aspiration drive-wheels  wheel-base
1  alfa-romero        std          rwd        88.6
3         audi        std          fwd        99.8
5         audi        std          fwd        99.8
7         audi        std          fwd       105.8

In [14]:
#integer based label indexing: using rows and columns index position data will be sliced
raw_data.iloc[1:10] #start index = 1 and end index = 9

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?

``` raw_data.iloc[:,:]  ``` 
Selecting all rows and columns

In [15]:
raw_data.iloc[:,2:12] #slicing columns by using integer index, start=2 and end=11

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1
2,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5
3,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2
4,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4
...,...,...,...,...,...,...,...,...,...,...
200,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9
201,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8
202,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9
203,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9
204,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9

##### Summary
 - raw_data.iloc[raw_index, column_index]
 - raw_data.loc[raw_label, column_label]

#### 3. Rows and column selection

In [16]:
 #Single column selection: Slicing one column
raw_data['make']

0      alfa-romero
1      alfa-romero
2      alfa-romero
3             audi
4             audi
          ...
200          volvo
201          volvo
202          volvo
203          volvo
204          volvo
Name: make, Length: 205, dtype: object

In [17]:
#selecting muliple columns by using column-list
raw_data[['make','wheel-base']]

            make  wheel-base
0    alfa-romero        88.6
1    alfa-romero        88.6
2    alfa-romero        94.5
3           audi        99.8
4           audi        99.4
..           ...         ...
200        volvo       109.1
201        volvo       109.1
202        volvo       109.1
203        volvo       109.1
204        volvo       109.1

[205 rows x 2 columns]

#### 4. Filter

In [18]:
raw_data['make'] == 'audi' #This is a boolean condition returns True if condition is True else False.(acts as an if condition)

0      False
1      False
2      False
3       True
4       True
       ...
200    False
201    False
202    False
203    False
204    False
Name: make, Length: 205, dtype: bool

In [19]:
raw_data[raw_data['make'] == 'audi'] #Return the data based on a condition

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?

In [20]:
#slicing datafrome using multiple condition
raw_data[(raw_data['make'] == 'toyota') & (raw_data['body-style'] == 'sedan')]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
156,0,91,toyota,gas,std,four,sedan,fwd,front,95.7,...,98,2bbl,3.19,3.03,9.0,70,4800,30,37,6938
158,0,91,toyota,diesel,std,four,sedan,fwd,front,95.7,...,110,idi,3.27,3.35,22.5,56,4500,34,36,7898
160,0,91,toyota,gas,std,four,sedan,fwd,front,95.7,...,98,2bbl,3.19,3.03,9.0,70,4800,38,47,7738
162,0,91,toyota,gas,std,four,sedan,fwd,front,95.7,...,98,2bbl,3.19,3.03,9.0,70,4800,28,34,9258
163,1,168,toyota,gas,std,two,sedan,rwd,front,94.5,...,98,2bbl,3.19,3.03,9.0,70,4800,29,34,8058
165,1,168,toyota,gas,std,two,sedan,rwd,front,94.5,...,98,mpfi,3.24,3.08,9.4,112,6600,26,29,9298
173,-1,65,toyota,gas,std,four,sedan,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.7,92,4200,29,34,8948
174,-1,65,toyota,diesel,turbo,four,sedan,fwd,front,102.4,...,110,idi,3.27,3.35,22.5,73,4500,30,33,10698
176,-1,65,toyota,gas,std,four,sedan,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.7,92,4200,27,32,10898
180,-1,90,toyota,gas,std,four,sedan,rwd,front,104.5,...,171,mpfi,3.27,3.35,9.2,156,5200,20,24,15690

In [21]:
# data display when either of the two condition is True
raw_data[(raw_data['make'] == 'toyota') | (raw_data['body-style'] == 'sedan')]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

#### 5. Sorting

In [22]:
#sort by ascending order
raw_data['wheel-base'].sort_values()

31      86.6
30      86.6
18      88.4
0       88.6
1       88.6
       ...
113    114.2
114    114.2
71     115.6
70     115.6
73     120.9
Name: wheel-base, Length: 205, dtype: float64

In [23]:
#Sorting wheel-base in Descending order
raw_data['wheel-base'].sort_values(ascending = False)

73     120.9
71     115.6
70     115.6
114    114.2
113    114.2
       ...
1       88.6
0       88.6
18      88.4
30      86.6
31      86.6
Name: wheel-base, Length: 205, dtype: float64

In [24]:
 #Sort dataframe by engine size
raw_data.sort_values(by = 'engine-size')

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
18,2,121,chevrolet,gas,std,two,hatchback,fwd,front,88.4,...,61,2bbl,2.91,3.03,9.5,48,5100,47,53,5151
57,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,?,?,9.4,101,6000,17,23,13645
55,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,?,?,9.4,101,6000,17,23,10945
56,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,?,?,9.4,101,6000,17,23,11845
32,1,101,honda,gas,std,two,hatchback,fwd,front,93.7,...,79,1bbl,2.91,3.07,10.1,60,5500,38,42,5399
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48,0,?,jaguar,gas,std,four,sedan,rwd,front,113.0,...,258,mpfi,3.63,4.17,8.1,176,4750,15,19,35550
47,0,145,jaguar,gas,std,four,sedan,rwd,front,113.0,...,258,mpfi,3.63,4.17,8.1,176,4750,15,19,32250
74,1,?,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,...,304,mpfi,3.80,3.35,8.0,184,4500,14,16,45400
73,0,?,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,...,308,mpfi,3.80,3.35,8.0,184,4500,14,16,40960
49,0,?,jaguar,gas,std,two,sedan,rwd,front,102.0,...,326,mpfi,3.54,2.76,11.5,262,5000,13,17,36000

In [25]:
#First sort by make and then by engine-size, if make is same then sort the engine_size
raw_data.sort_values(by = ['make','engine-size']).head(20)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
10,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430
11,0,192,bmw,gas,std,four,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16925
12,0,188,bmw,gas,std,two,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,20970
13,0,188,bmw,gas,std,four,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,21105
14,1,?,bmw,gas,std,four,sedan,rwd,front,103.5,...,164,mpfi,3.31,3.19,9.0,121,4250,20,25,24565
15,0,?,bmw,gas,std,four,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,30760
16,0,?,bmw,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,41315
17,0,?,bmw,gas,std,four,sedan,rwd,front,110.0,...,209,mpfi,3.62,3.39,8.0,182,5400,15,20,36880
18,2,121,chevrolet,gas,std,two,hatchback,fwd,front,88.4,...,61,2bbl,2.91,3.03,9.5,48,5100,47,53,5151
19,1,98,chevrolet,gas,std,two,hatchback,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.6,70,5400,38,43,6295

In [26]:
#make in descending order and for that make the engine-size will be in ascending order
raw_data.sort_values(by = ['make','engine-size'],ascending = [False, True]).head(20)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
198,-2,103,volvo,gas,turbo,four,sedan,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18420
199,-1,74,volvo,gas,turbo,four,wagon,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18950
194,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,12940
195,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,13415
196,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,15985
197,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,16515
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
182,2,122,volkswagen,diesel,std,two,sedan,fwd,front,97.3,...,97,idi,3.01,3.40,23.0,52,4800,37,46,7775
184,2,94,volkswagen,diesel,std,four,sedan,fwd,front,97.3,...,97,idi,3.01,3.40,23.0,52,4800,37,46,7995
187,2,94,volkswagen,diesel,turbo,four,sedan,fwd,front,97.3,...,97,idi,3.01,3.40,23.0,68,4500,37,42,9495
192,0,?,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,...,97,idi,3.01,3.40,23.0,68,4500,33,38,13845
183,2,122,volkswagen,gas,std,two,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,7975
185,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,8195
186,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,8495
188,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,10.0,100,5500,26,32,9995
189,3,?,volkswagen,gas,std,two,convertible,fwd,front,94.5,...,109,mpfi,3.19,3.40,8.5,90,5500,24,29,11595

In [27]:
#show all unique values of makers
raw_data['make'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [28]:
#frequency of each category
raw_data['make'].value_counts()

make
toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: count, dtype: int64

#### 6. Filter and Query
- filter() is used for primarily used for subset the rows and columns of the selected DataFrame

In [29]:
# if num is present in the data it will be displayed
raw_data.filter(like="num")

    num-of-doors num-of-cylinders
0            two             four
1            two             four
2            two              six
3           four             four
4           four             five
..           ...              ...
200         four             four
201         four             four
202         four              six
203         four              six
204         four             four

[205 rows x 2 columns]

In [30]:
# slicing columns by using column labels
raw_data.filter(items = ['make','num-of-doors', 'horsepower'])

            make num-of-doors horsepower
0    alfa-romero          two        111
1    alfa-romero          two        111
2    alfa-romero          two        154
3           audi         four        102
4           audi         four        115
..           ...          ...        ...
200        volvo         four        114
201        volvo         four        160
202        volvo         four        134
203        volvo         four        106
204        volvo         four        114

[205 rows x 3 columns]

In [31]:
# slicing rows by row label and axis = 0 (indicating row wise) axis = 1 (default: column wise)
raw_data.filter(items = [0,1,3,4], axis=0)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [32]:
#slicing column by ^ which indicates start of column name.
raw_data.filter(regex = r'^a')

    aspiration
0          std
1          std
2          std
3          std
4          std
..         ...
200        std
201      turbo
202        std
203      turbo
204      turbo

[205 rows x 1 columns]

In [33]:

raw_data.query(" `make` == 'toyota' and `engine-size` >= 130")

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
167,2,134,toyota,gas,std,two,hardtop,rwd,front,98.4,...,146,mpfi,3.62,3.50,9.3,116,4800,24,30,8449
168,2,134,toyota,gas,std,two,hardtop,rwd,front,98.4,...,146,mpfi,3.62,3.50,9.3,116,4800,24,30,9639
169,2,134,toyota,gas,std,two,hatchback,rwd,front,98.4,...,146,mpfi,3.62,3.50,9.3,116,4800,24,30,9989
170,2,134,toyota,gas,std,two,hardtop,rwd,front,98.4,...,146,mpfi,3.62,3.50,9.3,116,4800,24,30,11199
171,2,134,toyota,gas,std,two,hatchback,rwd,front,98.4,...,146,mpfi,3.62,3.50,9.3,116,4800,24,30,11549
172,2,134,toyota,gas,std,two,convertible,rwd,front,98.4,...,146,mpfi,3.62,3.50,9.3,116,4800,24,30,17669
178,3,197,toyota,gas,std,two,hatchback,rwd,front,102.9,...,171,mpfi,3.27,3.35,9.3,161,5200,20,24,16558
179,3,197,toyota,gas,std,two,hatchback,rwd,front,102.9,...,171,mpfi,3.27,3.35,9.3,161,5200,19,24,15998
180,-1,90,toyota,gas,std,four,sedan,rwd,front,104.5,...,171,mpfi,3.27,3.35,9.2,156,5200,20,24,15690
181,-1,?,toyota,gas,std,four,wagon,rwd,front,104.5,...,161,mpfi,3.27,3.35,9.2,156,5200,19,24,15750

#### 7. Handling missing values
- mean if data is continous
- median if data is continous or discrete
- mode if data is categorical
- avoided is missing data more than 5%
- more than 20% remove column

In [34]:
import numpy as np

In [35]:
#replace '? ' by 'nan' and update DataFrame
raw_data.replace('?', np.nan, inplace = True)

In [36]:
# returns total missing values from each columns
raw_data.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [37]:
# Handling the missing values

In [38]:
#Display missing values percentage
raw_data.isnull().sum() / raw_data.shape[0] * 100

symboling             0.00000
normalized-losses    20.00000
make                  0.00000
fuel-type             0.00000
aspiration            0.00000
num-of-doors          0.97561
body-style            0.00000
drive-wheels          0.00000
engine-location       0.00000
wheel-base            0.00000
length                0.00000
width                 0.00000
height                0.00000
curb-weight           0.00000
engine-type           0.00000
num-of-cylinders      0.00000
engine-size           0.00000
fuel-system           0.00000
bore                  1.95122
stroke                1.95122
compression-ratio     0.00000
horsepower            0.97561
peak-rpm              0.97561
city-mpg              0.00000
highway-mpg           0.00000
price                 1.95122
dtype: float64

In [39]:
#drop columns by using column names
raw_data.drop(['symboling', 'normalized-losses'], axis=1, inplace = True)

In [40]:
raw_data['price'].dtype

dtype('O')

In [41]:
raw_data['price'] = raw_data['price'].astype('float64')

In [42]:
raw_data['price'].dtype

dtype('float64')

In [43]:
vehicle_df = raw_data.copy()

In [44]:
vehicle_df

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [45]:
#median
vehicle_df['price'].median()

10295.0

In [46]:
#fill the nan (missing values) in price with the median of price
vehicle_df['price'] = vehicle_df['price'].fillna(vehicle_df['price'].median())

In [47]:
vehicle_df

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [48]:
vehicle_df.isnull().sum()

make                 0
fuel-type            0
aspiration           0
num-of-doors         2
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 4
stroke               4
compression-ratio    0
horsepower           2
peak-rpm             2
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [49]:
#Drop missing row from all column
vehicle_df.dropna(inplace = True)

In [50]:
vehicle_df.isnull().sum()

make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

#### 8. Drop duplicates
- drop diplicate values

In [51]:
dict(vehicle_df.loc[10])

{'make': 'bmw',
 'fuel-type': 'gas',
 'aspiration': 'std',
 'num-of-doors': 'two',
 'body-style': 'sedan',
 'drive-wheels': 'rwd',
 'engine-location': 'front',
 'wheel-base': 101.2,
 'length': 176.8,
 'width': 64.8,
 'height': 54.3,
 'curb-weight': 2395,
 'engine-type': 'ohc',
 'num-of-cylinders': 'four',
 'engine-size': 108,
 'fuel-system': 'mpfi',
 'bore': '3.50',
 'stroke': '2.80',
 'compression-ratio': 8.8,
 'horsepower': '101',
 'peak-rpm': '5800',
 'city-mpg': 23,
 'highway-mpg': 29,
 'price': 16430.0}

In [52]:
#select random sample from DataFrame using frac = 0.05 (5%) or n = num of samples
sample_df = vehicle_df.sample(frac=0.05)

In [53]:
#combining with another dataFrame
vehicle_df = pd.concat([vehicle_df, sample_df], ignore_index = True)

In [54]:
vehicle_df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
202     True
203     True
204     True
205     True
206     True
Length: 207, dtype: bool

In [55]:
vehicle_df[vehicle_df.duplicated()]

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
197,nissan,diesel,std,two,sedan,fwd,front,94.5,165.3,63.8,...,103,idi,2.99,3.47,21.9,55,4800,45,50,7099.0
198,subaru,gas,std,four,wagon,fwd,front,97.0,173.5,65.4,...,108,2bbl,3.62,2.64,9.0,82,4800,28,32,7463.0
199,mazda,gas,std,two,hatchback,fwd,front,93.1,159.1,64.2,...,91,2bbl,3.03,3.15,9.0,68,5000,31,38,6095.0
200,nissan,gas,std,two,sedan,fwd,front,94.5,165.3,63.8,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,5499.0
201,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,180.2,66.9,...,97,idi,3.01,3.40,23.0,68,4500,33,38,13845.0
202,subaru,gas,std,two,hatchback,fwd,front,93.7,157.9,63.6,...,108,2bbl,3.62,2.64,8.7,73,4400,26,31,7053.0
203,nissan,gas,std,four,wagon,fwd,front,94.5,170.2,63.8,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,7349.0
204,honda,gas,std,two,sedan,fwd,front,96.5,169.1,66.0,...,110,2bbl,3.15,3.58,9.1,100,5500,25,31,10345.0
205,volkswagen,gas,std,two,hatchback,fwd,front,94.5,165.7,64.0,...,109,mpfi,3.19,3.40,8.5,90,5500,24,29,9980.0
206,peugot,gas,turbo,four,sedan,rwd,front,108.0,186.7,68.3,...,134,mpfi,3.61,3.21,7.0,142,5600,18,24,18150.0

In [56]:
#Drop all duplicated datas from the DataFrame
vehicle_df.drop_duplicates(inplace = True)

In [57]:
vehicle_df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
192    False
193    False
194    False
195    False
196    False
Length: 197, dtype: bool

In [58]:
vehicle_df[vehicle_df.duplicated()]

Empty DataFrame
Columns: [make, fuel-type, aspiration, num-of-doors, body-style, drive-wheels, engine-location, wheel-base, length, width, height, curb-weight, engine-type, num-of-cylinders, engine-size, fuel-system, bore, stroke, compression-ratio, horsepower, peak-rpm, city-mpg, highway-mpg, price]
Index: []

[0 rows x 24 columns]

#### 9. Group By
- Used for the aggregate operations.

In [59]:
#to the find the avg price in each make
vehicle_df.groupby('make')['price'].mean()

make
alfa-romero      15498.333333
audi             16778.571429
bmw              26118.750000
chevrolet         6007.000000
dodge             7790.125000
honda             8184.692308
isuzu             9605.750000
jaguar           34600.000000
mazda             9852.000000
mercedes-benz    33647.000000
mercury          16503.000000
mitsubishi        9239.769231
nissan           10415.666667
peugot           15489.090909
plymouth          7963.428571
porsche          27179.400000
saab             15223.333333
subaru            8541.250000
toyota            9885.812500
volkswagen       10077.500000
volvo            18063.181818
Name: price, dtype: float64

In [60]:
#to the find the avg price in each make
vehicle_df.groupby('make')[['price','city-mpg']].mean()
# vehicle_df.groupby('make')[['price','city-mpg']].sum()
# vehicle_df.groupby('make')[['price','city-mpg']].max()

                      price   city-mpg
make
alfa-romero    15498.333333  20.333333
audi           16778.571429  18.857143
bmw            26118.750000  19.375000
chevrolet       6007.000000  41.000000
dodge           7790.125000  28.500000
honda           8184.692308  30.384615
isuzu           9605.750000  31.000000
jaguar         34600.000000  14.333333
mazda           9852.000000  27.833333
mercedes-benz  33647.000000  18.500000
mercury        16503.000000  19.000000
mitsubishi      9239.769231  24.923077
nissan         10415.666667  27.000000
peugot         15489.090909  22.454545
plymouth        7963.428571  28.142857
porsche        27179.400000  17.400000
saab           15223.333333  20.333333
subaru          8541.250000  26.333333
toyota          9885.812500  27.500000
volkswagen     10077.500000  28.583333
volvo          18063.181818  21.181818

In [61]:
vehicle_df.groupby('make')[['price','city-mpg']].max().sort_values(by='price', ascending = False)

                 price  city-mpg
make
mercedes-benz  45400.0        22
bmw            41315.0        23
porsche        37028.0        19
jaguar         36000.0        15
audi           23875.0        24
volvo          22625.0        26
nissan         19699.0        45
saab           18620.0        21
mazda          18344.0        31
peugot         18150.0        28
toyota         17669.0        38
mercury        16503.0        19
alfa-romero    16500.0        21
mitsubishi     14869.0        37
volkswagen     13845.0        37
dodge          12964.0        37
honda          12945.0        49
plymouth       12764.0        37
subaru         11694.0        32
isuzu          11048.0        38
chevrolet       6575.0        47

#### 10. apply()
- used to modfy the column values.

In [62]:
vehicle_df1 = vehicle_df.copy()

In [63]:
vehicle_df1['Dimension'] = vehicle_df1.apply(lambda row: row['length'] * row['width'], axis = 1)

In [64]:
vehicle_df1

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,Dimension
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,10820.08
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,10820.08
2,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,11213.60
3,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,11690.92
4,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,11726.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0,13008.32
193,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8,...,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0,12989.44
194,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0,13008.32
195,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,idi,3.01,3.40,23.0,106,4800,26,27,22470.0,13008.32
196,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0,13008.32

#### 11. set and reset index

In [65]:
city = {
    'United States': 76100,
    'China': 13000,
    'Germany': 47000,
    'India': 2200,
    'Brazil': 10500,
    'Canada': 54000,
    'France': 42000,
    'Japan': 43000,
    'Australia': 62000,
    'South Africa': 6700,
    'Russia': 10500,
    'Mexico': 9500,
    'South Korea': 34000,
    'Italy': 35000,
    'United Kingdom': 49000
}

city_series = pd.Series(city)

In [66]:
city_gdp = pd.DataFrame(city_series, columns=['gdp_per_capita'])

In [67]:
city_gdp

                gdp_per_capita
United States            76100
China                    13000
Germany                  47000
India                     2200
Brazil                   10500
Canada                   54000
France                   42000
Japan                    43000
Australia                62000
South Africa              6700
Russia                   10500
Mexico                    9500
South Korea              34000
Italy                    35000
United Kingdom           49000

In [68]:
#reset_index will create new index and add the existing index as a new column
city_gdp = city_gdp.reset_index()

In [69]:
city_gdp

             index  gdp_per_capita
0    United States           76100
1            China           13000
2          Germany           47000
3            India            2200
4           Brazil           10500
5           Canada           54000
6           France           42000
7            Japan           43000
8        Australia           62000
9     South Africa            6700
10          Russia           10500
11          Mexico            9500
12     South Korea           34000
13           Italy           35000
14  United Kingdom           49000

In [70]:
#To choose the column as an index
city_gdp.set_index('index')

                gdp_per_capita
index
United States            76100
China                    13000
Germany                  47000
India                     2200
Brazil                   10500
Canada                   54000
France                   42000
Japan                    43000
Australia                62000
South Africa              6700
Russia                   10500
Mexico                    9500
South Korea              34000
Italy                    35000
United Kingdom           49000

#### 12. Pivot Table

In [71]:
#implementing: categorical values to create another table for insightful informations
vehicle_df1.pivot_table(values = 'price', index = 'drive-wheels',columns='body-style', aggfunc='mean')

body-style,convertible,hardtop,hatchback,sedan,wagon
drive-wheels,,,,,
4wd,NaN,NaN,8949.000000,12647.333333,9095.750000
fwd,11595.0,8249.000000,8365.166667,9834.290909,10061.181818
rwd,23949.6,24202.714286,14419.666667,21711.833333,16994.222222

In [72]:
vehicle_df1.pivot_table(values = 'price', index = ['drive-wheels','engine-location'],columns='body-style', aggfunc='mean')

body-style                    convertible  hardtop     hatchback  \
drive-wheels engine-location
4wd          front                    NaN      NaN   8949.000000
fwd          front                11595.0   8249.0   8365.166667
rwd          front                20680.0  20572.6  14419.666667
             rear                 37028.0  33278.0           NaN

body-style                           sedan         wagon
drive-wheels engine-location
4wd          front            12647.333333   9095.750000
fwd          front             9834.290909  10061.181818
rwd          front            21711.833333  16994.222222
             rear                      NaN           NaN

#### 13. Merge

In [73]:
df_series1 = pd.Series({
    "United States": 12313,
    "Canada": 45700,
    "Germany": 46200,
    "United Kingdom": 46200,
    "Japan": 41400
}, name = 'GDP_per_captia')

In [74]:
df_series2 = pd.Series({
    "United States": 1232343213,
    "Canada": 4572300,
    "Germany": 46232400,
    "United Kingdom": 412126200,
    "Japan": 4123400
}, name = 'population')

In [75]:
df1 = pd.DataFrame(df_series1).reset_index()

In [76]:
df1.columns = ['country','gpd_per_capita']

In [77]:
df1

          country  gpd_per_capita
0   United States           12313
1          Canada           45700
2         Germany           46200
3  United Kingdom           46200
4           Japan           41400

In [78]:
df2 = pd.DataFrame(df_series2).reset_index()

In [79]:
#rename existing column
df2.columns = ['country','population']

In [80]:
df2

          country  population
0   United States  1232343213
1          Canada     4572300
2         Germany    46232400
3  United Kingdom   412126200
4           Japan     4123400

In [81]:
#how : how to joing "inner, left, right, outer"
pd.merge(df1, df2, on='country', how='inner')

          country  gpd_per_capita  population
0   United States           12313  1232343213
1          Canada           45700     4572300
2         Germany           46200    46232400
3  United Kingdom           46200   412126200
4           Japan           41400     4123400

#### 14. CrossTab
- Cross tabulation is panda method to create contingency table, that shows the frequency distribution of attributes

In [82]:
pd.crosstab(vehicle_df1['body-style'], vehicle_df1['num-of-doors'])

num-of-doors  four  two
body-style
convertible      0    6
hardtop          0    8
hatchback       10   55
sedan           79   15
wagon           24    0